.git
.gitnexus
**/target
!target/
target/*
!target/release/
target/release/*
!target/release/light-agent
!target/release/light-deployer
!target/release/light-gateway
!target/release/light-workflow
!target/release/light-workflow-runner
!target/release/light-knowledge
!target/release/light-knowledge-admin
!target/release/light-knowledge-worker
dist
**/dist
node_modules
**/node_modules
.idea
.vscode
*.log
