LIGHT_PORTAL_AUTHORIZATION="Bearer <token>"
LIGHT_CONFIG_SERVER_URI="https://localhost:8435"
LIGHT_GATEWAY_SERVICE_ID="com.networknt.light-gateway-1.0.0"
LIGHT_GATEWAY_ENV="dev"
STARTUP_BOOTSTRAPCACERTPATH="config/ca.pem"
STARTUP_HOST="dev.lightapi.net"
PORTAL_REGISTRY_URL="https://localhost:8438"
SERVER_ADVERTISED_ADDRESS="127.0.0.1"
